body {
	font-family: "Trebuchet MS", sans-serif;
	margin: 50px;
}

.odd {
	background:#fff;
}

.even {
	background:#efeff6;
}

.ui-jqgrid .ui-jqgrid-htable {
	table-layout: fixed;
	margin: 0 auto;
}

.ui-jqgrid .ui-jqgrid-htable th {
	color:#000; 
	text-align:center; 
	background-image:-moz-linear-gradient(top, #eeeeee, #dddddd); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd)); 
	border-top:1px solid #ddd; 
	border-right:1px solid #ddd; 
	border-bottom:1px solid #ddd; 
	box-shadow:0 -1px 3px #ddd; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType='0'); 
	line-height:30px; 
	font-weight:bold;
}

.ui-jqgrid .ui-jqgrid-htable th div {overflow: hidden; position:relative; height:30px;line-height:30px;}

.searchArea {
	overflow: hidden;
	background: #eeeeff;
	margin:0 0 15px 0;
}

.searchArea label,.searchArea input{
	margin-left: 10px;
}


.searchArea label{
	margin: 10px 0px 10px 10px;
	font-size: 14px;
	font-weight: bold;
}
.searchArea input{
	margin: 10px 0px 10px 10px;
	height: 24px;
}

.searchArea .serarch-title{
	margin: 10px 0px 10px 10px;
}
.img-ui-panel{
	display: block;
	width:100%;
}
.img-ui-panel-item{
	margin: 0px;
	display: inline-block;
}
.img-ui-panel-item .full{
	width:100%;
}
.img-ui-panel-item .line-item{
	margin-bottom: 10px;
}
.panel-west{
	width:60%;
}
.panel-east{
	width:40%;
	float: right;
}
.panel-east .line-item{
	width:94%;
	margin-left: 5%;
}
.panel-bottom{
	width:100%;
	float: right;
}

img {
	border: 3px solid #eeeeff;
}
.img-ui-process{
	width: 100%;
	margin-bottom: 5px;
}
.img-ui-process *{
	display: inline-block;
}
.img-ui-process .process-bar{
	width:60%;
	height:12px;
	margin-left: 0px;
}
.img-ui-process .process-percent{
	width:50px;
}
.img-ui-process .process-describe{
	width:30%;
}

.footer{ height:40px; overflow:hidden; background:#fff; margin:0 auto; clear:both; padding:10px 20px 0;}
.footer p{ text-align:center; line-height:28px;font-size: 14px;}
