body {
	font-family: "Trebuchet MS", sans-serif;
	margin: 50px;
}

.odd {
	background:#fff;
}

.even {
	background:#efeff6;
}

.ui-jqgrid .ui-jqgrid-htable {
	table-layout: fixed;
	margin: 0 auto;
}

.ui-jqgrid .ui-jqgrid-htable th {
	color:#000; 
	text-align:center; 
	background-image:-moz-linear-gradient(top, #eeeeee, #dddddd); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #dddddd)); 
	border-top:1px solid #ddd; 
	border-right:1px solid #ddd; 
	border-bottom:1px solid #ddd; 
	box-shadow:0 -1px 3px #ddd; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType='0'); 
	line-height:30px; 
	font-weight:bold;
}

.ui-jqgrid .ui-jqgrid-htable th div {overflow: hidden; position:relative; height:30px;line-height:30px;}

.searchArea {
	overflow: hidden;
	background: #eeeeff;
	margin:0 0 15px 0;
}

.searchArea *{
	margin-left: 10px;
}

.searchArea label{
	margin: 10px 0px 10px 10px;
	font-size: 14px;
	font-weight: bold;
}
.searchArea input{
	margin: 10px 0px 10px 10px;
	width: 130px;
	height: 24px;
}



